<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi <%= @to_name %></h1>
    <p>
      Your friend <%= @sender.name_or_username(@cookie) %> has asked you to join Kassi, a service for borrowing, giving and asking for favors.
    </p>
    <p>
      <a href="<%= @url %>">Join Kassi now!</a>
    </p>
  </body>
</html>