<div id='people-invite-a-friend'>
	
	<% form_tag( { :controller => "people", :action => "invite_new_user" }, :method => "post" ) do %>
		<%= hidden_field( :sender, :value , :value => @current_user.id) %>
		Nimi: <br/>
		<%= text_field_tag( :to_name ) %> <br/>
		Email <br/>
		<%= text_field_tag( :to_email ) %> <br/>
		<%= submit_tag "Send" %>
	<% end %>
	
</div>
